//Abstract Folder with Files
@import "abstract/variable";
@import "abstract/mixins";
@import "abstract/function";

// Base Folder with Files
@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";

//Components Folder with Files
@import "components/button";

//Layout Folder with Files
@import "layout/header";

//Pages Folder with Files
@import "pages/home";



