.container{
    height: 50rem;
    width: 100rem;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;


    @include response (Large-screen){
        @include absCenter;
    }

    @include response(Laptop){
       width: 70rem;
       @include absCenter;
    }

    @include response(Mobile){
        // width: 50rem;

    }



    & > * {
        width: 33.33%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 100%;

        @include response(Tablet){
            width: 100%;
        }



    }

    &__box1{


        @include response(Laptop){
            display: flex;
            justify-content: space-around;
        }


        & > * {
            margin:3rem 5rem 1rem 5rem;

            @include response(Laptop){
                margin: 3rem 3rem 0 3rem;

            }
        }

    }
    &__icon{
        margin-top: 3rem;
    }
    &__header{
        color: $color-header;
        font-size: 5rem;
        font-weight: 700;
        font-family: 'Big Shoulders Display', cursive;
        text-transform: uppercase;
    }

    &__paragraph{
         font-family:'Lexend Deca', sans-serif;
         color: $color-font-paragraph;
         font-size: 1.4rem;
         line-height: 1.5;

    }

    &__button{
        border: none;
        font-size: 1.2rem;
        font-family:'Lexend Deca', sans-serif;
        font-weight: 300;
        letter-spacing: 2px;
        background-color: transparent;
        color: $color-font-paragraph;
        border: 2px solid $color-font-paragraph;
        border-radius: 100px;
        width: 15rem;
        cursor: pointer;
        margin-top: 8rem;
        margin-bottom: 2rem;


    }

}