@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin  response ($breakpoint) {

    @if $breakpoint == Large-screen {
        @media (min-width: 1041px) { @content };
    }

    @if $breakpoint == Laptop {
        @media ( max-width : 1040px) { @content };
    }

    @if $breakpoint == Tablet {
        @media (max-width:700px) { @content };
    }

    @if $breakpoint == Mobile {
        @media (max-width:560px) { @content };
    }
}