.icon{
    fill: black;
}

.button-text{
    padding: 1rem 2rem;
}

.background-orange{
    background-color: $color-orange-container;
    // border-radius: 1rem 1rem 0 0;
}

.background-light-cyan{
    background-color: $color-light-cyan;
}

.background-dark-cyan {
    background-color: $color-dark-cyan;
    // border-radius: 0 0 1rem 1rem;
}

